html,
body {
 margin: 0;
 padding: 0;
}
h1 {
 text-align: center;
 width: 100%;
 margin: 0;
 height: 5vh;
 color: white;
 background-image: linear-gradient(to right, rgb(66, 41, 126), rgb(132, 0, 255));
}
.scores {
 display: flex;
 flex-direction: row;
 justify-content: center;
 width: 50%;
}
button {
 margin: 5px 10px;
}
#dart-board {
 width: 100vw;
}
#scoreboard {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 grid-template-rows: 1fr 1fr 1fr 1fr;
 width: 99vw;
 align-items: center;
 justify-content: center;
 border: solid black 1px;
 height: 30vh;
}
.darts {
 width: 50px;
}
#player-1-name {
 grid-column-start: 1;
 grid-column-end: 3;
 grid-row: 1;
}
#player-2-name {
 grid-column-start: 4;
 grid-column-end: 6;
 grid-row: 1;
}
#player-1-darts {
 grid-column-start: 1;
 grid-column-end: 3;
 grid-row: 3;
}
#player-2-darts {
 grid-column-start: 4;
 grid-column-end: 6;
 grid-row: 3;
}
#player-1-score-container {
 grid-column-start: 1;
 grid-column-end: 3;
 grid-row: 4;
}
#player-2-score-container {
 grid-column-start: 4;
 grid-column-end: 6;
 grid-row: 4;
}
#player-1-darts,
#player-2-darts {
 display: flex;
 flex-direction: row;
 justify-content: center;
}
#player-1-name,
#player-2-name,
#player-1-score-container,
#player-2-score-container {
 text-align: center;
}
#scores {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
 text-align: center;
 align-items: center;
 position: fixed;
 left: 0;
 bottom: 1px;
 width: 100%;
 height: 40vh;
}
#score-container {
 grid-row: 1;
 grid-column-start: 1;
 grid-column-end: 4;
 text-align: center;
 align-self: flex-end;
 border: 1px solid black;
 font-size: 25px;
 padding: 10px;
 height: 30px;
 margin: 0;
}
#n0 {
 grid-column: 2;
}
#n1,
#n2,
#n3,
#n4,
#n5,
#n6,
#n7,
#n8,
#n9,
#n0,
#confirm,
#backspace {
 border: solid 1px black;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}
#finishers-container {
 height: 100%;
 /* border: solid 2px red; */
 height: 30vh;
}
.result-list {
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 justify-content: flex-start;
 align-items: center;
 max-height: 20vh;
 list-style: none;
 padding: 0;
 margin-block-start: 0;
 margin-block-end: 0;
 margin-inline-start: 0px;
 margin-inline-end: 0px;
 padding-inline-start: 0;
 margin-top: 5px;
}
.finisher {
 border: 1px solid black;
 border-radius: 5px;
 padding: 2px;
 margin: 2px;
}
