* {
 font-family: "Inconsolata", monospace;
 text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
html {
 /* background-image: url("./pool.jpg"); */
 background-color: #46724c;
 background-repeat: no-repeat;
 background-size: 100% 100%;
 background-attachment: fixed;
 color: white;
 font-family: "Inconsolata", monospace;
 animation-name: fade;
 animation-duration: 1s;
}
button {
 margin: 10px auto;
 border-radius: 10px;
 padding: 5px 10px;
 font-size: 20px;
 font-weight: 600;
 border: 1px solid black;
 background-color: #5c8d62;
 color: white;
 box-shadow: rgba(0, 0, 0, 0.815) 0px 3px 8px;
 text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#fullscreen-msg {
 position: absolute;
 top: 0;
 left: 0;
 width: 100vw;
 height: 100vh;
 background-color: aliceblue;
 z-index: 3;
 margin: 0;
 color: black;
 display: flex;
 justify-content: center;
 align-items: center;
}
#go-fs {
 padding: 20px;
 font-size: 30px;
}
h1 {
 display: flex;
 flex-direction: row;
 align-content: center;
 justify-content: center;
 color: white;
 margin: 0px;
 padding: 10px 0;
 background-image: linear-gradient(to right, #204225, #2f6437);
 border-bottom: 1px solid white;
 text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
 width: 100vw;
 /* text-decoration: underline; */
}
body {
 width: 100%;
 height: 100%;
 margin: 0;
 padding: 0;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
#name-form-container {
 width: 100%;
}
#name-form {
 width: 80%;
 margin: 20px auto;
 display: flex;
 flex-direction: column;
}
label {
 font-size: 25px;
}
#player-1-name,
#player-2-name {
 height: 50px;
 margin-bottom: 10px;
 font-size: 25px;
 border-radius: 5px;
 text-shadow: none;
}
#return-to-names {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}
#scoreboard {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 grid-template-rows: 80px 30px 30px;
 /* margin-top: 10px; */
 padding: 10px;
 /* border: 1px solid white; */
}
#scoreboard-labels {
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 align-self: flex-end;
 text-align: center;
}
#player-1-tile {
 grid-column: 1/3;
 grid-row: 1;
 justify-self: center;
 text-align: center;
 display: flex;
}
#player-2-tile {
 grid-column-start: 4;
 grid-column-end: 6;
 grid-row: 1;
 justify-self: center;
 text-align: center;
 display: flex;
}
#player-1,
#player-2 {
 margin: 0;
 align-self: center;
 padding: 0 10px 0 10px;
 overflow: hidden;
}
#frames-label {
 grid-column: 3;
 grid-row: 2;
 justify-self: center;
 align-self: center;
 margin: 0;
}
#score-label {
 grid-column: 3;
 grid-row: 3;
 justify-self: center;
 align-self: center;
 margin: 0;
}
#player-1-framecount {
 grid-column: 2;
 grid-row: 2;
}
#player-1-score {
 grid-column: 2;
 grid-row: 3;
}
#player-2-framecount {
 grid-column: 4;
 grid-row: 2;
}
#player-2-score {
 grid-column: 4;
 grid-row: 3;
}
#timer {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 grid-row: 1;
 grid-column: 3;
}
#time-container {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}
#time-label {
 margin-bottom: 0;
 text-align: center;
}
#mins-elapsed,
#secs-elapsed {
 margin-top: 0;
 font-size: 26px;
}
.current {
 border-radius: 9999px;
 background-color: rgba(0, 0, 0, 0.336);
}
h3 {
 display: flex;
 text-align: center;
 align-self: center;
 margin: 0 auto;
}
#balls {
 display: flex;
 flex-direction: column;
 align-content: center;
 justify-content: center;
 margin: 0px auto;
 padding: 10px 0;
 /* background-color: #346b3c; */
 /* border-bottom: 1px solid white; */
}
#other-moves,
#revert {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}
#foul-msg {
 margin: 10px auto;
 width: 80%;
 text-align: center;
 color: rgb(255, 255, 255);
 font-weight: 800;
 font-size: 20px;
}
.ball {
 margin: 5px auto;
 border: black 1px solid;
 border-radius: 20px;
 padding: 5px;
 box-shadow: 1px 1px 5px;
 color: black;
}
#black {
 background-color: rgb(0, 0, 0);
 border: rgb(0, 0, 0) 1px solid;
 width: 40px;
 height: 40px;
}

#pink {
 background-color: pink;
 width: 40px;
 height: 40px;
}
#blue {
 background-color: blue;
 width: 40px;
 height: 40px;
}
#brown {
 background-color: rgb(148, 99, 9);
 width: 40px;
 height: 40px;
}
#green {
 background-color: green;
 width: 40px;
 height: 40px;
}
#yellow {
 background-color: yellow;
 width: 40px;
 height: 40px;
}
#red {
 background-color: red;
 color: rgb(255, 255, 255);
 font-weight: 800;
 font-size: 20px;
 width: 40px;
 height: 40px;
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
 box-shadow: 1px 1px 5px black;
}
#low-colours {
 display: flex;
 flex-direction: row;
}
#red-modifier {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
 margin: 10px auto;
 height: 20px;
}
#add-red,
#minus-red {
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 30px;
}
#results {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-top: 10px;
}
.result-text {
 font-size: 20px;
 list-style-type: none;
 padding: 0;
 margin: 0 auto;
}
ul {
 margin-block-start: 0;
 padding-inline-start: 0;
 text-align: center;
}
#result-container {
 animation-name: fade;
 animation-duration: 1s;
}
@keyframes fade {
 from {
  opacity: 0;
 }
 to {
  opacity: 100;
 }
}

.disabled {
 margin: 5px auto;
 border: black 1px solid;
 border-radius: 20px;
 padding: 5px;
 filter: grayscale(100) opacity(25%);
}
.hidden {
 display: none;
}
